.nav-container {
    position: fixed;
    left: 0;
    bottom: 0px;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.nav-container a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 570px) {
    .nav-container a {
        font-size: small;
    }
}

.nav-link {
    display: flex;
    justify-content: space-between;
}

.nav-link a {
    margin: 0px 165px;
}