.homeBG {
    background-image: url("/src/Img/image 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.titleHP {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleHP h1 {
    color: white;
    font-size: 90px;
    margin: 0px 130px;
    padding: 10px 0px;
}

@media screen and (max-width: 1300px) {
    .titleHP h1 {
        font-size: 100px;
        margin: 0;
    }
}

@media screen and (max-width: 650px) {
    .titleHP h1 {
        font-size: 70px;
        margin: 0;
    }
}